<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="row">
			<div th:each="p: ${items}" class="col-sm-4">
				<div class="panel panel-primary poly-item text-center">
					<div class="panel-heading">
						<div class="panel-title" th:utext="${p.name}"></div>
					</div>
					<div class="panel-body">
						<a th:href="@{|/product/detail/${p.id}|}"> <img
							th:src="@{|/images/${p.image}|}">
						</a>
					</div>
					<div class="panel-footer text-right">
						<b class="pull-left">$[[${p.price}]]</b>
						<button th:attr="ng-click=@{|cart.add(${p.id})|}"
							class="btn btn-success">
							<i class="glyphicon glyphicon-shopping-cart"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<th:block th:if="${currentPage}">
			<div class=" text center">
			<a th:href="@{|/product/list/page/1|}" class="btn btn-danger">
				<b class="glyphicon glyphicon-fast-backward"></b>
			</a>
			<a th:href="@{|/product/list/page/${currentPage - 1}|}" class="btn btn-primary">
				<b class="glyphicon glyphicon-backward"></b>
			</a>
			
			<a th:href="@{|/product/list/page/${currentPage + 1}|}" class="btn btn-primary">
				<b class="glyphicon glyphicon-forward"></b>
			</a>
			<a th:href="@{|/product/list/page/${totalPage}|}" class="btn btn-danger">
				<b class="glyphicon glyphicon-fast-forward"></b>
			</a>
		</div>
		</th:block>
		
	</main>
</body>
</html>